_todo/
data/
_todo/
run.R
*.zip
# R/R-studio files
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
carob.Rproj
.Rprofile
update_carob.R
harvester/